################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dungeonGeneratorPoC/dungeonGeneratorPoC/obj/Debug/simple_rect.exe
