################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dungeonGeneratorPoC/dungeonGeneratorPoC/obj/Debug/simple_rect.exe
/dungeonGeneratorPoC/dungeonGeneratorPoC/obj/Debug/simple_rect.pdb
/dungeonGeneratorPoC/dungeonGeneratorPoC/bin/Debug/simple_rect.pdb
/dungeonGeneratorPoC/dungeonGeneratorPoC/bin/Debug/simple_rect.exe
/dungeonGeneratorPoC/dungeonGeneratorPoC/bin/Debug
/dungeonGeneratorPoC/dungeonGeneratorPoC/obj/Debug
/dungeonGeneratorPoC/.vs/dungeonGeneratorPoC/v14
